<p style="color: green"><%= notice %></p>

<%= render @sub_place %>

<div>
  <%= link_to "Edit this sub place", edit_sub_place_path(@sub_place) %> |
  <%= link_to "Back to sub places", sub_places_path %>

  <%= button_to "Destroy this sub place", @sub_place, method: :delete %>
</div>
