<p style="color: green"><%= notice %></p>

<h1><%= t("countries.name") %></h1>

<div id="countries">
  <% @countries.each do |country| %>
    <%= render country %>
   
    <p>
      <%= link_to t("countries.show_this_country"), country %>
    </p>
  <% end %>
</div>

<%= link_to t("countries.new_country"), new_country_path %>
