<!DOCTYPE html>
<html>
  <head>
    <title>Scheduling</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container-fluid ">
          <a class="navbar-brand " href="#">Scheduling</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
            <% if user_signed_in? %>
              <li class="nav-item">
              <%= button_to "Cerrar sesión", destroy_user_session_path, method: :delete %>
              </li>
            <% else %>
            <li class="nav-item">
              Iniciar sesión
            </li>
            <% end %>
            </ul>		  
          </div>
          </div>
        </nav>
      <%= yield %>
    </div>
  </body>
</html>
